# Environment
.env
.env.*

# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
*.whl
.eggs/

# Distribution / packaging
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
wheels/

# Testing
.tox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/
uvicorn.log
uvicorn_err.log
nextjs.log

# Next.js
node_modules/
.next/
out/

# Vercel
.vercel/
